DAL/Utility/Web References/Webservice/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="g_Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scorpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sprdid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdst" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="g_SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="g_SubmitResult" type="tns:CSubmitState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CSubmitState">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgState" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Reserve" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="g_SubmitWithKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scorpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sprdid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdst" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="g_SubmitWithKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="g_SubmitWithKeyResult" type="tns:CSubmitState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="g_SchedulerSubmit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scorpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sprdid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sbegindate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdst" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="g_SchedulerSubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="g_SchedulerSubmitResult" type="tns:CSubmitState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="g_SchedulerSubmitWithKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scorpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sprdid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sbegindate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdst" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="g_SchedulerSubmitWithKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="g_SchedulerSubmitWithKeyResult" type="tns:CSubmitState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VersionInfo">
        <s:complexType />
      </s:element>
      <s:element name="VersionInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sm_GetRemain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scorpid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sprdid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sm_GetRemainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sm_GetRemainResult" type="tns:CRemain" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CRemain">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Remain" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SingleInfoQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountPassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productextendId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobilePhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgcontent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pageSize" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curPage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SingleInfoQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SingleInfoQueryResult" type="tns:SigleMsgInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SigleMsgInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:ArrayOfSingleResult" />
          <s:element minOccurs="1" maxOccurs="1" name="totlenum" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errormsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSingleResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SingleResult" nillable="true" type="tns:SingleResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SingleResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgContent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductExtendId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResourceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommitTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartMentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MsgPackageQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgPackageQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MsgPackageQueryResult" type="tns:MsgPackageResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MsgPackageResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:ArrayOfMsgPackageSingleInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMsgPackageSingleInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MsgPackageSingleInfo" nillable="true" type="tns:MsgPackageSingleInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MsgPackageSingleInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MobilePhonerQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChargeQuantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MsgState" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SendSuccess" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SendFails" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SendFailTimes" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BlackLists" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cancels" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportSuccess" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportFails" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="MsgSplitCalculate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountPassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productextendId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mobilecount" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mmslen" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MsgSplitCalculateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MsgSplitCalculateResult" type="tns:MsgSplitCalculateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MsgSplitCalculateResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultState" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Pages" type="s:unsignedInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="CSubmitState" nillable="true" type="tns:CSubmitState" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="CRemain" type="tns:CRemain" />
      <s:element name="int" type="s:int" />
      <s:element name="SigleMsgInfo" nillable="true" type="tns:SigleMsgInfo" />
      <s:element name="MsgPackageResult" nillable="true" type="tns:MsgPackageResult" />
      <s:element name="MsgSplitCalculateResult" nillable="true" type="tns:MsgSplitCalculateResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="g_SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:g_Submit" />
  </wsdl:message>
  <wsdl:message name="g_SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:g_SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="g_SubmitWithKeySoapIn">
    <wsdl:part name="parameters" element="tns:g_SubmitWithKey" />
  </wsdl:message>
  <wsdl:message name="g_SubmitWithKeySoapOut">
    <wsdl:part name="parameters" element="tns:g_SubmitWithKeyResponse" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitSoapIn">
    <wsdl:part name="parameters" element="tns:g_SchedulerSubmit" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitSoapOut">
    <wsdl:part name="parameters" element="tns:g_SchedulerSubmitResponse" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitWithKeySoapIn">
    <wsdl:part name="parameters" element="tns:g_SchedulerSubmitWithKey" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitWithKeySoapOut">
    <wsdl:part name="parameters" element="tns:g_SchedulerSubmitWithKeyResponse" />
  </wsdl:message>
  <wsdl:message name="VersionInfoSoapIn">
    <wsdl:part name="parameters" element="tns:VersionInfo" />
  </wsdl:message>
  <wsdl:message name="VersionInfoSoapOut">
    <wsdl:part name="parameters" element="tns:VersionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="Sm_GetRemainSoapIn">
    <wsdl:part name="parameters" element="tns:Sm_GetRemain" />
  </wsdl:message>
  <wsdl:message name="Sm_GetRemainSoapOut">
    <wsdl:part name="parameters" element="tns:Sm_GetRemainResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="SingleInfoQuerySoapIn">
    <wsdl:part name="parameters" element="tns:SingleInfoQuery" />
  </wsdl:message>
  <wsdl:message name="SingleInfoQuerySoapOut">
    <wsdl:part name="parameters" element="tns:SingleInfoQueryResponse" />
  </wsdl:message>
  <wsdl:message name="MsgPackageQuerySoapIn">
    <wsdl:part name="parameters" element="tns:MsgPackageQuery" />
  </wsdl:message>
  <wsdl:message name="MsgPackageQuerySoapOut">
    <wsdl:part name="parameters" element="tns:MsgPackageQueryResponse" />
  </wsdl:message>
  <wsdl:message name="MsgSplitCalculateSoapIn">
    <wsdl:part name="parameters" element="tns:MsgSplitCalculate" />
  </wsdl:message>
  <wsdl:message name="MsgSplitCalculateSoapOut">
    <wsdl:part name="parameters" element="tns:MsgSplitCalculateResponse" />
  </wsdl:message>
  <wsdl:message name="g_SubmitHttpGetIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
    <wsdl:part name="sdst" type="s:string" />
    <wsdl:part name="smsg" type="s:string" />
  </wsdl:message>
  <wsdl:message name="g_SubmitHttpGetOut">
    <wsdl:part name="Body" element="tns:CSubmitState" />
  </wsdl:message>
  <wsdl:message name="g_SubmitWithKeyHttpGetIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
    <wsdl:part name="sdst" type="s:string" />
    <wsdl:part name="smsg" type="s:string" />
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="g_SubmitWithKeyHttpGetOut">
    <wsdl:part name="Body" element="tns:CSubmitState" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitHttpGetIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
    <wsdl:part name="sbegindate" type="s:string" />
    <wsdl:part name="sdst" type="s:string" />
    <wsdl:part name="smsg" type="s:string" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitHttpGetOut">
    <wsdl:part name="Body" element="tns:CSubmitState" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitWithKeyHttpGetIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
    <wsdl:part name="sbegindate" type="s:string" />
    <wsdl:part name="sdst" type="s:string" />
    <wsdl:part name="smsg" type="s:string" />
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitWithKeyHttpGetOut">
    <wsdl:part name="Body" element="tns:CSubmitState" />
  </wsdl:message>
  <wsdl:message name="VersionInfoHttpGetIn" />
  <wsdl:message name="VersionInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Sm_GetRemainHttpGetIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Sm_GetRemainHttpGetOut">
    <wsdl:part name="Body" element="tns:CRemain" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="oldPassword" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SingleInfoQueryHttpGetIn">
    <wsdl:part name="accountId" type="s:string" />
    <wsdl:part name="accountPassWord" type="s:string" />
    <wsdl:part name="productextendId" type="s:string" />
    <wsdl:part name="mobilePhone" type="s:string" />
    <wsdl:part name="msgcontent" type="s:string" />
    <wsdl:part name="startTime" type="s:string" />
    <wsdl:part name="endTime" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="curPage" type="s:string" />
    <wsdl:part name="MsgID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SingleInfoQueryHttpGetOut">
    <wsdl:part name="Body" element="tns:SigleMsgInfo" />
  </wsdl:message>
  <wsdl:message name="MsgPackageQueryHttpGetIn">
    <wsdl:part name="accountid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="msgid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MsgPackageQueryHttpGetOut">
    <wsdl:part name="Body" element="tns:MsgPackageResult" />
  </wsdl:message>
  <wsdl:message name="MsgSplitCalculateHttpGetIn">
    <wsdl:part name="accountId" type="s:string" />
    <wsdl:part name="accountPassWord" type="s:string" />
    <wsdl:part name="productextendId" type="s:string" />
    <wsdl:part name="mobilecount" type="s:string" />
    <wsdl:part name="sms" type="s:string" />
    <wsdl:part name="mmslen" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MsgSplitCalculateHttpGetOut">
    <wsdl:part name="Body" element="tns:MsgSplitCalculateResult" />
  </wsdl:message>
  <wsdl:message name="g_SubmitHttpPostIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
    <wsdl:part name="sdst" type="s:string" />
    <wsdl:part name="smsg" type="s:string" />
  </wsdl:message>
  <wsdl:message name="g_SubmitHttpPostOut">
    <wsdl:part name="Body" element="tns:CSubmitState" />
  </wsdl:message>
  <wsdl:message name="g_SubmitWithKeyHttpPostIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
    <wsdl:part name="sdst" type="s:string" />
    <wsdl:part name="smsg" type="s:string" />
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="g_SubmitWithKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:CSubmitState" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitHttpPostIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
    <wsdl:part name="sbegindate" type="s:string" />
    <wsdl:part name="sdst" type="s:string" />
    <wsdl:part name="smsg" type="s:string" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitHttpPostOut">
    <wsdl:part name="Body" element="tns:CSubmitState" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitWithKeyHttpPostIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
    <wsdl:part name="sbegindate" type="s:string" />
    <wsdl:part name="sdst" type="s:string" />
    <wsdl:part name="smsg" type="s:string" />
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="g_SchedulerSubmitWithKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:CSubmitState" />
  </wsdl:message>
  <wsdl:message name="VersionInfoHttpPostIn" />
  <wsdl:message name="VersionInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Sm_GetRemainHttpPostIn">
    <wsdl:part name="sname" type="s:string" />
    <wsdl:part name="spwd" type="s:string" />
    <wsdl:part name="scorpid" type="s:string" />
    <wsdl:part name="sprdid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Sm_GetRemainHttpPostOut">
    <wsdl:part name="Body" element="tns:CRemain" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="oldPassword" type="s:string" />
    <wsdl:part name="newPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="SingleInfoQueryHttpPostIn">
    <wsdl:part name="accountId" type="s:string" />
    <wsdl:part name="accountPassWord" type="s:string" />
    <wsdl:part name="productextendId" type="s:string" />
    <wsdl:part name="mobilePhone" type="s:string" />
    <wsdl:part name="msgcontent" type="s:string" />
    <wsdl:part name="startTime" type="s:string" />
    <wsdl:part name="endTime" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="curPage" type="s:string" />
    <wsdl:part name="MsgID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SingleInfoQueryHttpPostOut">
    <wsdl:part name="Body" element="tns:SigleMsgInfo" />
  </wsdl:message>
  <wsdl:message name="MsgPackageQueryHttpPostIn">
    <wsdl:part name="accountid" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="msgid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MsgPackageQueryHttpPostOut">
    <wsdl:part name="Body" element="tns:MsgPackageResult" />
  </wsdl:message>
  <wsdl:message name="MsgSplitCalculateHttpPostIn">
    <wsdl:part name="accountId" type="s:string" />
    <wsdl:part name="accountPassWord" type="s:string" />
    <wsdl:part name="productextendId" type="s:string" />
    <wsdl:part name="mobilecount" type="s:string" />
    <wsdl:part name="sms" type="s:string" />
    <wsdl:part name="mmslen" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MsgSplitCalculateHttpPostOut">
    <wsdl:part name="Body" element="tns:MsgSplitCalculateResult" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="g_Submit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交:&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容</wsdl:documentation>
      <wsdl:input message="tns:g_SubmitSoapIn" />
      <wsdl:output message="tns:g_SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="g_SubmitWithKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交:&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容&lt;br&gt;key:用户自定义参数,Len&lt;=16</wsdl:documentation>
      <wsdl:input message="tns:g_SubmitWithKeySoapIn" />
      <wsdl:output message="tns:g_SubmitWithKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交(可指定起始发送时间):&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sbegindate:起始发送时间,格式为"yyyy-MM-dd HH:mm:ss"&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容</wsdl:documentation>
      <wsdl:input message="tns:g_SchedulerSubmitSoapIn" />
      <wsdl:output message="tns:g_SchedulerSubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmitWithKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交(可指定起始发送时间):&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sbegindate:起始发送时间,格式为"yyyy-MM-dd HH:mm:ss"&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容&lt;br&gt;key:用户自定义参数,Len&lt;=16</wsdl:documentation>
      <wsdl:input message="tns:g_SchedulerSubmitWithKeySoapIn" />
      <wsdl:output message="tns:g_SchedulerSubmitWithKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">版本信息,仅用于提示</wsdl:documentation>
      <wsdl:input message="tns:VersionInfoSoapIn" />
      <wsdl:output message="tns:VersionInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sm_GetRemain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询账户余额:&lt;br&gt;参数说明:&lt;br&gt;sname:查询用户名&lt;br&gt;spwd:查询用户密码&lt;br&gt;scorpid:企业号码&lt;br&gt;sprdid:产品编号</wsdl:documentation>
      <wsdl:input message="tns:Sm_GetRemainSoapIn" />
      <wsdl:output message="tns:Sm_GetRemainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改短信账号密码:&lt;br&gt;参数说明:&lt;br&gt;account:账号&lt;br&gt;oldPassword:旧密码&lt;br&gt;newPassword:新密码</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SingleInfoQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">单条查询:&lt;br&gt;参数说明:&lt;br&gt;account:权限账号&lt;br&gt;passWord:权限密码&lt;br&gt;accountId:帐号&lt;br&gt;accountPassWord:密码&lt;br&gt;productextendId:扩展产品编号&lt;br&gt;mobilePhone:手机号码&lt;br&gt;startTime:开始提交时间&lt;br&gt;endTime:结束提交时间&lt;br&gt;pageSize:每页显示条数&lt;br&gt;curPage：当前显示页码数&lt;br&gt;MsgID:信息包编号</wsdl:documentation>
      <wsdl:input message="tns:SingleInfoQuerySoapIn" />
      <wsdl:output message="tns:SingleInfoQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MsgPackageQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">信息包查询:&lt;br&gt;参数说明:&lt;br&gt;account:权限账号&lt;br&gt;passWord:权限密码&lt;br&gt;msgid:信息包编号</wsdl:documentation>
      <wsdl:input message="tns:MsgPackageQuerySoapIn" />
      <wsdl:output message="tns:MsgPackageQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MsgSplitCalculate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">信息拆分条数查询:&lt;br&gt;参数说明:&lt;br&gt;accountId:权限账号&lt;br&gt;accountPassWord:权限密码&lt;br&gt;productextendId:产品编号&lt;br&gt;mobilecount:号码数量(未知填0)&lt;br&gt;sms:短信内容&lt;br&gt;mmslen:彩信长度,若此参数&gt;0则sms参数无效</wsdl:documentation>
      <wsdl:input message="tns:MsgSplitCalculateSoapIn" />
      <wsdl:output message="tns:MsgSplitCalculateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="g_Submit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交:&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容</wsdl:documentation>
      <wsdl:input message="tns:g_SubmitHttpGetIn" />
      <wsdl:output message="tns:g_SubmitHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="g_SubmitWithKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交:&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容&lt;br&gt;key:用户自定义参数,Len&lt;=16</wsdl:documentation>
      <wsdl:input message="tns:g_SubmitWithKeyHttpGetIn" />
      <wsdl:output message="tns:g_SubmitWithKeyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交(可指定起始发送时间):&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sbegindate:起始发送时间,格式为"yyyy-MM-dd HH:mm:ss"&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容</wsdl:documentation>
      <wsdl:input message="tns:g_SchedulerSubmitHttpGetIn" />
      <wsdl:output message="tns:g_SchedulerSubmitHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmitWithKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交(可指定起始发送时间):&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sbegindate:起始发送时间,格式为"yyyy-MM-dd HH:mm:ss"&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容&lt;br&gt;key:用户自定义参数,Len&lt;=16</wsdl:documentation>
      <wsdl:input message="tns:g_SchedulerSubmitWithKeyHttpGetIn" />
      <wsdl:output message="tns:g_SchedulerSubmitWithKeyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">版本信息,仅用于提示</wsdl:documentation>
      <wsdl:input message="tns:VersionInfoHttpGetIn" />
      <wsdl:output message="tns:VersionInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Sm_GetRemain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询账户余额:&lt;br&gt;参数说明:&lt;br&gt;sname:查询用户名&lt;br&gt;spwd:查询用户密码&lt;br&gt;scorpid:企业号码&lt;br&gt;sprdid:产品编号</wsdl:documentation>
      <wsdl:input message="tns:Sm_GetRemainHttpGetIn" />
      <wsdl:output message="tns:Sm_GetRemainHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改短信账号密码:&lt;br&gt;参数说明:&lt;br&gt;account:账号&lt;br&gt;oldPassword:旧密码&lt;br&gt;newPassword:新密码</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordHttpGetIn" />
      <wsdl:output message="tns:ChangePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SingleInfoQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">单条查询:&lt;br&gt;参数说明:&lt;br&gt;account:权限账号&lt;br&gt;passWord:权限密码&lt;br&gt;accountId:帐号&lt;br&gt;accountPassWord:密码&lt;br&gt;productextendId:扩展产品编号&lt;br&gt;mobilePhone:手机号码&lt;br&gt;startTime:开始提交时间&lt;br&gt;endTime:结束提交时间&lt;br&gt;pageSize:每页显示条数&lt;br&gt;curPage：当前显示页码数&lt;br&gt;MsgID:信息包编号</wsdl:documentation>
      <wsdl:input message="tns:SingleInfoQueryHttpGetIn" />
      <wsdl:output message="tns:SingleInfoQueryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MsgPackageQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">信息包查询:&lt;br&gt;参数说明:&lt;br&gt;account:权限账号&lt;br&gt;passWord:权限密码&lt;br&gt;msgid:信息包编号</wsdl:documentation>
      <wsdl:input message="tns:MsgPackageQueryHttpGetIn" />
      <wsdl:output message="tns:MsgPackageQueryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MsgSplitCalculate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">信息拆分条数查询:&lt;br&gt;参数说明:&lt;br&gt;accountId:权限账号&lt;br&gt;accountPassWord:权限密码&lt;br&gt;productextendId:产品编号&lt;br&gt;mobilecount:号码数量(未知填0)&lt;br&gt;sms:短信内容&lt;br&gt;mmslen:彩信长度,若此参数&gt;0则sms参数无效</wsdl:documentation>
      <wsdl:input message="tns:MsgSplitCalculateHttpGetIn" />
      <wsdl:output message="tns:MsgSplitCalculateHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="g_Submit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交:&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容</wsdl:documentation>
      <wsdl:input message="tns:g_SubmitHttpPostIn" />
      <wsdl:output message="tns:g_SubmitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="g_SubmitWithKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交:&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容&lt;br&gt;key:用户自定义参数,Len&lt;=16</wsdl:documentation>
      <wsdl:input message="tns:g_SubmitWithKeyHttpPostIn" />
      <wsdl:output message="tns:g_SubmitWithKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交(可指定起始发送时间):&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sbegindate:起始发送时间,格式为"yyyy-MM-dd HH:mm:ss"&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容</wsdl:documentation>
      <wsdl:input message="tns:g_SchedulerSubmitHttpPostIn" />
      <wsdl:output message="tns:g_SchedulerSubmitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmitWithKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">短信提交(可指定起始发送时间):&lt;br&gt;参数说明:&lt;br&gt;sname:提交用户&lt;br&gt;spwd:提交密码&lt;br&gt;scorpid:企业代码&lt;br&gt;sprdid:产品编号&lt;br&gt;sbegindate:起始发送时间,格式为"yyyy-MM-dd HH:mm:ss"&lt;br&gt;sdst:接收号码，多个以','分割,不可超过100000个号码&lt;br&gt;smsg:短信内容&lt;br&gt;key:用户自定义参数,Len&lt;=16</wsdl:documentation>
      <wsdl:input message="tns:g_SchedulerSubmitWithKeyHttpPostIn" />
      <wsdl:output message="tns:g_SchedulerSubmitWithKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">版本信息,仅用于提示</wsdl:documentation>
      <wsdl:input message="tns:VersionInfoHttpPostIn" />
      <wsdl:output message="tns:VersionInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Sm_GetRemain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询账户余额:&lt;br&gt;参数说明:&lt;br&gt;sname:查询用户名&lt;br&gt;spwd:查询用户密码&lt;br&gt;scorpid:企业号码&lt;br&gt;sprdid:产品编号</wsdl:documentation>
      <wsdl:input message="tns:Sm_GetRemainHttpPostIn" />
      <wsdl:output message="tns:Sm_GetRemainHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改短信账号密码:&lt;br&gt;参数说明:&lt;br&gt;account:账号&lt;br&gt;oldPassword:旧密码&lt;br&gt;newPassword:新密码</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordHttpPostIn" />
      <wsdl:output message="tns:ChangePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SingleInfoQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">单条查询:&lt;br&gt;参数说明:&lt;br&gt;account:权限账号&lt;br&gt;passWord:权限密码&lt;br&gt;accountId:帐号&lt;br&gt;accountPassWord:密码&lt;br&gt;productextendId:扩展产品编号&lt;br&gt;mobilePhone:手机号码&lt;br&gt;startTime:开始提交时间&lt;br&gt;endTime:结束提交时间&lt;br&gt;pageSize:每页显示条数&lt;br&gt;curPage：当前显示页码数&lt;br&gt;MsgID:信息包编号</wsdl:documentation>
      <wsdl:input message="tns:SingleInfoQueryHttpPostIn" />
      <wsdl:output message="tns:SingleInfoQueryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MsgPackageQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">信息包查询:&lt;br&gt;参数说明:&lt;br&gt;account:权限账号&lt;br&gt;passWord:权限密码&lt;br&gt;msgid:信息包编号</wsdl:documentation>
      <wsdl:input message="tns:MsgPackageQueryHttpPostIn" />
      <wsdl:output message="tns:MsgPackageQueryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MsgSplitCalculate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">信息拆分条数查询:&lt;br&gt;参数说明:&lt;br&gt;accountId:权限账号&lt;br&gt;accountPassWord:权限密码&lt;br&gt;productextendId:产品编号&lt;br&gt;mobilecount:号码数量(未知填0)&lt;br&gt;sms:短信内容&lt;br&gt;mmslen:彩信长度,若此参数&gt;0则sms参数无效</wsdl:documentation>
      <wsdl:input message="tns:MsgSplitCalculateHttpPostIn" />
      <wsdl:output message="tns:MsgSplitCalculateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="g_Submit">
      <soap:operation soapAction="http://tempuri.org/g_Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SubmitWithKey">
      <soap:operation soapAction="http://tempuri.org/g_SubmitWithKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmit">
      <soap:operation soapAction="http://tempuri.org/g_SchedulerSubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmitWithKey">
      <soap:operation soapAction="http://tempuri.org/g_SchedulerSubmitWithKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <soap:operation soapAction="http://tempuri.org/VersionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sm_GetRemain">
      <soap:operation soapAction="http://tempuri.org/Sm_GetRemain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleInfoQuery">
      <soap:operation soapAction="http://tempuri.org/SingleInfoQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgPackageQuery">
      <soap:operation soapAction="http://tempuri.org/MsgPackageQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSplitCalculate">
      <soap:operation soapAction="http://tempuri.org/MsgSplitCalculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="g_Submit">
      <soap12:operation soapAction="http://tempuri.org/g_Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SubmitWithKey">
      <soap12:operation soapAction="http://tempuri.org/g_SubmitWithKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmit">
      <soap12:operation soapAction="http://tempuri.org/g_SchedulerSubmit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmitWithKey">
      <soap12:operation soapAction="http://tempuri.org/g_SchedulerSubmitWithKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <soap12:operation soapAction="http://tempuri.org/VersionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sm_GetRemain">
      <soap12:operation soapAction="http://tempuri.org/Sm_GetRemain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleInfoQuery">
      <soap12:operation soapAction="http://tempuri.org/SingleInfoQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgPackageQuery">
      <soap12:operation soapAction="http://tempuri.org/MsgPackageQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSplitCalculate">
      <soap12:operation soapAction="http://tempuri.org/MsgSplitCalculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="g_Submit">
      <http:operation location="/g_Submit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SubmitWithKey">
      <http:operation location="/g_SubmitWithKey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmit">
      <http:operation location="/g_SchedulerSubmit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmitWithKey">
      <http:operation location="/g_SchedulerSubmitWithKey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <http:operation location="/VersionInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sm_GetRemain">
      <http:operation location="/Sm_GetRemain" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleInfoQuery">
      <http:operation location="/SingleInfoQuery" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgPackageQuery">
      <http:operation location="/MsgPackageQuery" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSplitCalculate">
      <http:operation location="/MsgSplitCalculate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="g_Submit">
      <http:operation location="/g_Submit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SubmitWithKey">
      <http:operation location="/g_SubmitWithKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmit">
      <http:operation location="/g_SchedulerSubmit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="g_SchedulerSubmitWithKey">
      <http:operation location="/g_SchedulerSubmitWithKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <http:operation location="/VersionInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sm_GetRemain">
      <http:operation location="/Sm_GetRemain" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleInfoQuery">
      <http:operation location="/SingleInfoQuery" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgPackageQuery">
      <http:operation location="/MsgPackageQuery" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgSplitCalculate">
      <http:operation location="/MsgSplitCalculate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://cf.lmobile.cn/submitdata/service.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://cf.lmobile.cn/submitdata/service.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://cf.lmobile.cn/submitdata/service.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://cf.lmobile.cn/submitdata/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>